# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# Visual Studio Code files
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.cache

# User-specific files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.mdb 
